@model KOP.WEB.Models.ViewModels.Report.GradesReportViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="home-content">
    <div class="home_content_info">
        <div class="home_content_info_icon">
            <i class="fa-solid fa-folder"></i>
        </div>
        <div class="mid_title">
            Отчет по статусам оценок на сегодняшний день
        </div>
    </div>
</div>

<section class="main_container_content" id="main_container_content">
    <button onclick="saveGradesReport()" class="action_btn primary_btn margin_container_bottom_small">
        Скачать отчет
    </button>
    <section class="list_users_archive_container">
        <div class="list_division_users_wrapper">
            <table class="table_users history">
                <thead class="table_header report" id="tableReport">
                    <tr>
                        <th class="table_header_elem number">#</th>
                        <th class="table_header_elem">ФИО</th>
                        <th class="table_header_elem">Роль</th>
                        <th class="table_header_elem">Тип оценки</th>
                        <th class="table_header_elem">Статус оценки</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                    }
                    @foreach (var employee in Model.Employees)
                    {
                        foreach(var grade in employee.LastGrades)
                        {
                            <tr>
                                <td>@(counter++)</td>
                                <td>@employee.FullName</td>
                                <td>@employee.Role</td>
                                <td>@grade.GradeTypeName</td>
                                <td>@grade.GradeStatusName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</section>

<script src="/js/reportScript.js"></script>