@model KOP.WEB.Models.ViewModels.Supervisor.EmployeeGradeViewModel

@{
    Layout = null;
}

<div class="container_description">
    <div class="mid_title">
        Информация об оценке
    </div>
    <div class="mid_description">
        Номер оценки - @Model.Grade.Number
    </div>
    <div class="mid_description">
        Статус оценки - @Model.Grade.GradeStatusName
    </div>
    <div class="mid_description">
        Дата начала оценки - @Model.Grade.StartDate
    </div>
    <div class="mid_description">
        Дата окончания оценки - @Model.Grade.EndDate
    </div>
    <div class="mid_description">
        Дата следующей оценки - @Model.Grade.NextGradeDate
    </div>
</div>

@foreach (var comment in Model.Grade.Comments.Where(x => x.IsFeedback == true && x.SupervisorId == Model.SupervisorId))
{
    <div class="comment_area_container margin_container_bottom_middle">
        <div class="container_description">
            <div class="mid_title">
                Обратная связь
            </div>
            <div class="mid_description">
                Обратную связь оставил(-а) @comment.SupervisorName - @comment.SupervisorPosition
            </div>
            <div class="description">@comment.Text</div>
        </div>
    </div>
}

@foreach (var comment in Model.Grade.Comments.Where(x => x.IsFeedback == false))
{
    <div class="comment_area_container margin_container_bottom_middle">
        <div class="container_description">
            <div class="mid_title">
                Комментарий
            </div>
            <div class="mid_description">
                Комментарий оставил(-а) @comment.SupervisorName - @comment.SupervisorPosition
            </div>
            <div class="description">@comment.Text</div>
        </div>
    </div>
}

@if (Model.IsNeedSupervisorGrade)
{
    <div class="comment_area_container margin_container_bottom">
        <div class="container_description">
            <div class="mid_title">
                Комментарий
            </div>
            <div class="mid_description">
                Введите комментарий к оценке, его будете видеть Вы и другие руководители, сотрудник комментарий не видит
            </div>
        </div>
        <div class="comment_area_main_wrapper">
            <textarea name="" id="comment" placeholder="Введите комментарий" class="comment_area"></textarea>
        </div>
    </div>

    <div class="comment_area_container margin_container_bottom">
        <div class="container_description">
            <div class="mid_title">
                Обратная связь
            </div>
            <div class="mid_description">
                Введите текст обратной связи по работе сотрудника
            </div>
        </div>
        <div class="comment_area_main_wrapper">
            <textarea name="" id="feedback" placeholder="Введите текст обратной связи" class="comment_area"></textarea>
        </div>
    </div>

    <div class="container_description">
        <div class="mid_title">
            Действия
        </div>
        <div class="mid_description">
            Перевод на следующую подроль
        </div>
    </div>

    <div class="actions_main_wrapper">
        @if (Model.Grade.EmployeeStateBeforeGrade != null)
        {
            <div class="action_wrapper">
                <div class="accept_block_wraper">
                    <img src="/image/accept_arrow.svg" alt="accept_arrow">
                </div>
                <div class="role_info_wrapper">
                    @foreach (var atribute in Model.Grade.EmployeeStateBeforeGrade.EmployeeStateAttributes.OrderBy(x => x.AttributeId))
                    {
                        <div class="small_title">
                            @atribute.Value
                        </div>
                    }
                </div>
            </div>
        }

        <img src="/image/arrow_right.svg" alt="arrow">

        @if (Model.EmployeeStateAfterGrade != null)
        {
            <div class="action_wrapper">
                <div class="accept_block_wraper">
                    <img src="/image/accept_arrow.svg" alt="accept_arrow">
                </div>
                <div class="role_info_wrapper">
                    @foreach (var atribute in Model.EmployeeStateAfterGrade.EmployeeStateAttributes.OrderBy(x => x.AttributeId))
                    {
                        <div class="small_title">
                            @atribute.Value
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <div class="action_buttons_wrapper">
        <div onclick="acceptEmployeeGrade(@Model.Grade.Id, @Model.Grade.EmployeeId, @Model.SupervisorId, @Model.Grade.GradeTypeId)" class="action_btn green_btn">
            Принять
        </div>
        <div onclick="declineEmployeeGrade(@Model.Grade.Id, @Model.Grade.EmployeeId, @Model.SupervisorId, @Model.Grade.GradeTypeId)" class="action_btn red_btn">
            Отказать
        </div>
    </div>
}