@model KOP.Common.DTOs.ModuleDTO

@{
    Layout = null;
}

<div class="list_division_users_wrapper users">

    <div class="list-items">

        @if(Model.IsRoot)
        {
            <div class="select-btn">
                <span class="btn-text">@Model.Name</span>
                <div class="indicators_wrapper" id="indicators_wrapper">
                </div>
                <span class="arrow-dwn">
                    <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </span>
            </div>
        }
        else
        {
            <div class="description">@Model.Name</div>
        }

        @if (Model.Employees.Count() > 0)
        {
            <table class="table_users">
                <thead class="table_header">
                    <tr>
                        <th class="table_header_elem checkbox"></th>
                        <th class="table_header_elem number">#</th>
                        <th class="table_header_elem">ФИО</th>
                        <th class="table_header_elem">Роль</th>
                        <th class="table_header_elem">Тип оценки</th>
                        <th class="table_header_elem date">Дата следующей оценки</th>
                        <th class="table_header_elem">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var employee in Model.Employees)
                    {
                        <tr Id="@employee.Id" onclick="getEmployeeLayout(@employee.Id)" flagHide="">
                            <td>
                                <label class="input-container checkbox-type">
                                    <input type="checkbox" >
                                    <div class="checkmark-block">
                                        <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                                    </div>
                                </label>
                            </td>
                            <td>
                                @(i++)
                            </td>
                            <td class="fullname">
                                @employee.FullName
                            </td>
                            <td>
                                @employee.Role
                            </td>
                            <td>
                                @foreach (var grade in employee.LastGrades)
                                {
                                    
                                        @grade.GradeTypeName
                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var grade in employee.LastGrades)
                                {
                                        @grade.NextGradeDate
                                }
                            </td>
                            <td class="status">
                                @foreach (var grade in employee.LastGrades)
                                {
                                    <div class="status_btn_wrapper @grade.HtmlClassName">
                                        @grade.GradeStatusName
                                    </div>

                                    <br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @foreach (var child in Model.Children)
        {
            await Html.RenderPartialAsync("_Subordinate", child);
        }
    </div>
</div>